@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,700;1,400&display=swap');


:root {
    --main-green: #A7F46A;
    --neutral-100: #101010;

}



.btn-primary {
    --bs-btn-color: #101010;
    --bs-btn-bg: #A7F46A;
    --bs-btn-hover-color: #101010;
    --bs-btn-hover-bg: #6dd319;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-font-weight: 700;
}

.btn-light {
    --bs-btn-color: #2A85FF;
}

.list-group {
    --bs-border-color: transparent;
}

.list-group-item {
    --bs-list-group-item-padding-x: 0;

}

html,
*,
*::before,
*::after,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    max-width: 1440px;
    margin-inline: auto;
    color: var(--neutral-100s)
}

h1, h2, h3, h4 {
    font-family: 'Urbanist', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    font-family: inherit;
    font-size: inherit;
}


/* SECTION HEADER */

header {
    position: relative;
    width: 100%;
}

.navbar {
    padding-top: 24px;
    padding-inline: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;   
    display: grid;
    grid-template-columns: 140px 1fr 280px;
    align-items: center;
}

.navbar .logo {
    vertical-align: middle;
}

.navbar-list {
    display: inline-block;
    padding-left: 65px;
}

.navbar-list > * + * {
    margin-left: 32px;
}


.navbar-list a{
    color: #EDEDED;
}



.navbar-list li {
    display: inline-block;
}

.navbar-links {
    display: inline-block;
    justify-self: end;
}

.navbar-links a {
    color: #fff;
    font-weight: 700;
}

/* .navbar-links button {
    border-radius: 8px;
    padding: 16px 32px;
    margin-left: 32px;
    color: var(--neutral-100);
    background-color: var(--main-green);
} */


/* SECTION HERO */

.hero {
   background: no-repeat url("/assets/cyborg-hand.png") #1B1AFF right;
   padding-top: 114px;
}


.hero-top {
    margin-left: 120px;
}

.hero-top img {
    display: inline-block;
    width: 23px;
    vertical-align: middle;
    margin-right: 8px;
}

.hero-top p {
    display: inline-block;
    color: #fff;
}

.hero-top hr {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    width: 70px;
}

.hero h1 {
    width: 80%;
    margin-top: 94px;
    margin-inline: auto;
    font-size: 10rem;
    color: #FFF;
    letter-spacing: -0.0625rem;
}

.hero-description {
    margin-top: 60px;
    margin-left: 140px;
    color: #EDEDED;
    font-weight: 700;
}

.hero-bottom {
    margin-left: 140px;
    margin-top: 48px;
}

/* .hero-bottom button {
    background-color: var(--main-green);
    padding: 16px 24px;
    font-weight: 700;
    border-radius: 8px;

}

.hero-bottom button > * {
    vertical-align: middle;
} */


.hero-bottom-text {
    display: inline-block;
    text-align: right;
    color: #97BAFF;
}



/* SECTION MESSAGES */

.message {
    padding-top: 120px;
    padding-inline: 120px;
}


.message h3 {
    font-weight: 700;
}


.message-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.message-top h3 {
    font-size: 3.75rem;

}

.message-top p {
    color: #757B8A;
    width: 448px;
}

.message-blocks-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 28px;
    margin-top: 106px;
    height: 500px;

}

.message-blocks-container h3 {
    font-size: 2rem;
}

.message-block {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-block p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
}

.message-block:not(:first-child) .heading {
    display: grid;
    grid-template-columns: 80% 20%;
}

.message-block .heading img {
    justify-self: end;
    align-self: end;
}


.message-block:not(:first-child) {
    padding: 32px;
}

.message-block:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
    background:  center / cover url("./assets/girl-with-oculus.png") no-repeat;
    color: #fff;
}

.message-block:first-child .heading{
    padding-top: 32px;
    padding-inline: 32px;
    border-radius: 16px;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.00 ) 100%);
}

.message-block:first-child .heading h3 {
    width: 80%;
    margin-top: 12px;
}

.message-block:first-child .heading p {
    text-transform: uppercase;
    color: var(--main-green);
    font-size: 0.875rem;

}

.message-block:first-child button {
    width: 252px;
    margin: 48px;
    padding: 16px 24px;
    background-color: var(--main-green);
    font-weight: 700;
    border-radius: 8px;
}

.message-block:first-child button > * {
    vertical-align: middle;
}


.message-block:nth-child(2) {
    background-color: #E0FECD;
}

.message-block:nth-child(3) {
    grid-row: 2/3;
    background-color: #FFF1ED;
}

.message-block:last-child {
    grid-row: 1/3;
    background-color: #F0F0FF;
}


.message-plan {
    margin-top: 278px;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;  
}


.sales-report {
    width: 420px;
}

.sales-report h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.graphics {
    padding: 20px;
    box-shadow: 20px 40px 80px 0px rgba(89, 96, 135, 0.12);
    border-radius: 8px;
}

.graphics-footer {
    margin-top: 18px;
    padding: 20px;
    color: #8AA5F6;
    background-color: #1B1AFF;
    line-height: 1.625rem; /* 130% */
    border-radius: 8px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 50%);
}

.graphics-footer strong {
    color: #fff;
    font-size: 1.25rem;
}

.sales-plan h2 {
    font-size: 3.75rem;

}

.sales-plan p {
    margin-top: 24px;
    color: #757B8A;
    width: 75%;
}

.sales-plan ul {
    margin-top: 42px;
    line-height: 3; /* 1.6rem */

}

.sales-plan li {
    display: flex;
    gap: 12px;
}


/* ADVANTAGES */
.advantages {
    display: flex;
    gap: 120px;
    margin-top: 250px;
}

.advantages .col:first-child {
    width: 50%;
}

.advantages .col:nth-child(2) {
    justify-self: end;
}


.advantages h2 {
    font-size: 3.75rem;
    font-weight: 700;

}

.advantages  p {
    color: #757B8A;
    font-weight: 500;
}

.col > p {
    margin-top: 24px;

}

.avatar-wrapper {
    box-shadow: 20px 40px 80px 0px rgba(45, 51, 81, 0.12);
    display: flex;
    gap: 24px;
    margin-top: 40px;
    padding: 20px;
    width: fit-content;
    border-radius: 16px;

}

.avatar-container {
    position: relative;
}

.avatar-container img:nth-child(2) {
     transform: translateX(-30px);
}

.avatar-container img:nth-child(3) {
    transform: translateX(-60px);
}

.avatar-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar-text strong {
    font-size: 1.5rem;
    font-family: Archivo;
    font-weight: 700;

}


.logo-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* PLANS */

.plans {
    padding-top: 118px;
    padding-bottom: 128px;
    background-color: #F5F8FE;
}

.plans-heading {
    text-align: center;
    margin-inline: auto;
    max-width: 60%;
}

.plans-heading h2 {
    font-size: 3.75rem;
}

.plans-heading p {
    margin-top: 16px;
    color: #757B8A;
}

/* CARD */

/* .card-container {
    width: fit-content;
    position: relative;
    margin-top: 112px;
    margin-inline: auto;
}

.card {
    border-radius: 26px;
    display: inline-block;
    padding-inline: 40px;
    width: 310px;

}

.card:not(:nth-child(2)) {
    border: 1px solid  #E9ECF2;
    padding-top: 24px;
    background-color: #fff;
}

.card:not(:nth-child(2)) button {
    background-color: #F2F4FC;
    color: #2A85FF;
    margin-bottom: 30px;
    margin-top: 38px;
}

.card:nth-child(2) {
    color: #FFF;
    background-color: #1B1AFF;
    position: relative;
    z-index: 10;
}

.card:nth-child(2) button {
    color: #1B1AFF;
    background: #fff;
    margin-bottom: 48px;
    margin-top: 58px;
}

.card:first-child {
    transform: translateX(16px);
}

.card:last-child {
    transform: translateX(-16px);
}

.card-header {
    text-align: center;
    transform: translate(0, -34px);
    background-color: #A7F46A;
    border: 6px solid #fff;
    color: var(--neutral-100);
    border-radius: 60px;
    padding: 14px 18px;

}

.card span {
    font-weight: 400;
    font-family: Inter;
    font-size: 1.125rem;
}

.card h4 {
    font-size: 0.875rem;
    opacity: 0.5;
}

.card strong {
    font-size: 2.5rem;
}

.card button {
    width: 156px;
    height: 48px;
    border-radius: 8px;
    font-weight: 700;
}

.card-list {
    padding-top: 24px;
    margin-top: 24px;
}

.card-list {
    border-top: 1px solid #F2F4FC;
}

.card-list * + * {
    margin-top: 24px;
}

.card-list li {
    display: flex;
    gap: 10px;
} */


/* REVIEWS */
.reviews {
    padding-left: 120px;
    padding-top: 116px;
    padding-bottom: 76px;
    background-color: #1B1AFF;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.reviews h2 {
    font-size: 3.75rem;
    width: 40%;
}


.reviews > p {
    margin-top: 16px;
}

.asterisk {
    width: 184px;
    position: absolute;
    top: 22px;
    right: -45px;
}

.slide-container {
    margin-top: 68px;
    display: grid;
    gap: 47px;
    grid-template-columns: min-content 1fr;
}

.slide-text {
    padding-top: 20px;
    width: 70%;
}

.slide-text h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;

}
.slide-text p {
    font-weight: 400;
}


/* FOOTER */
footer {
    background-color: var(--neutral-100);
    color: #fff;
    padding-inline: 120px;
    padding-top: 100px;
    padding-bottom: 95px;
}

.footer-top {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #757B8A;
}

.footer-top .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 50px;
}

.footer-top .text button {
    color: #fff;
    background-color: #1B1AFF;
    font-weight: 700;
    border-radius: 8px;
    padding-inline: 42px;
    height: 50px;

}

.footer-middle {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-middle .email {
    width: 290px;
}

.footer-middle .email h4{
    font-size: 1.5rem;

}

.footer-middle button {
    background-color: #1B1AFF;
    padding-inline: 18px;
    height: 50px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: -6px;
}

.footer-middle .email input{
    height: 50px;
    margin-top: 30px;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #757B8A;

}

.footer-list h4 {
    font-size: 1.125rem;

}

.footer-list ul {
    margin-top: 20px;
    line-height: 2.3;     
}

.footer-list li {
    color: #D6D6D6;
}

.footer-bottom {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom p {
    display: inline-block;
    margin-right: 50px;
}

.footer-bottom .links > * + * {
 margin-left: 30px;
}